body {
    background: #006600;
    color: #ffffff;
}
.container {
    padding-top: 2%;
}
img.logo {
    width: 150px;
    padding: 20px;
    border-radius: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #ffffff;
}
a:hover {
    color: #ffffff;
    text-decoration: none;
}
a:link {
    color: #ffffff;
    text-decoration: none;
}
a:visited {
    color: #ffffff;
    text-decoration: none;
}
h1 {
    font-weight: bolder;
    padding: 10px;
    text-align: center;
}
h2 {
    font-size: 16pt;
    font-weight: bolder;
}
.link_header {
    width: 50%;
    font-size: 16pt;
    background: #ffffff;
    color: #006600;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}
.link_alt {
    width: 50%;
    font-size: 12pt;
    background: #ffffff;
    color: #006600;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}
.shortened_link {
    width: 50%;
    font-size: 14pt;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    padding: 5px;
    margin: auto;
    word-wrap: break-word;
}
.to {
    background: #ffffff;
    color: #006600;
    font-weight: bold;
    margin: auto;
    width: 38%;
}
.home_link {
    text-decoration: none;
}
.disclaimer {
    width: 50%;
    font-size: 8pt;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    padding: 5px;
    margin: auto;
    word-wrap: break-word;
}
.link_list {
    width: 50%;
    font-size: 8pt;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    padding: 5px;
    margin: auto;
    word-wrap: break-word;
}
a.hi_link:hover {
    color: yellow;
    text-decoration: underline;
}
a.hi_link:link {
    color: yellow;
    text-decoration: underline;
}
a.hi_link:visited {
    color: yellow;
    text-decoration: underline;
}
.spacer {
    height: 50px;
}