<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="slog.link - shortened links, no tracking">
    <meta name="author" content="slogworx.com">
    <link rel="shortcut icon" href="/static/slogworx16.png">
    <title>slog.link - shortened links, no tracking</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/sloglink.css">
  </head>
  <body>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <img class="logo" alt="slogworx logo" src="/static/slogworx_logo.png">
            </div>
            <div class="col-md-2">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick" />
                    <input type="hidden" name="hosted_button_id" value="BSA47ED637UXU" />
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                </form>
            </div>
        </div>
        <h1>slog.link - shortened links, no tracking</h1>
        <div class="row text-center">
            <div class="col-md-12">
                <div class="disclaimer">
                    <p><b>Download the slog.link Firefox browser extension <a class="hi_link" href="https://slog.link/wg" target="_blank">here</a>.</b></p>
                    <p>slog.link is open source and available on    
                    <a class="hi_link" href="https://slog.link/9W" target="_blank">GitHub</a>.
                    </p>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <form action='/add_link', method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="new_link" method="POST" placeholder="Paste a long link here and click Submit to create a short link below.">
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <div class="link_header">Shortened Link</div>
                <div class="shortened_link">
                    {% block content %}
                    <h2>
                        <input type="text" value="{{ short_link }}" id="shortLink">
                        <button onclick="copyToPaste()" class="btn btn-success">Copy to Paste</button>
                    </h2>
                    <div class="to">Redirects To</div>
                    {{ long_link }}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <br>
</body>
    <script>
        function copyToPaste() {
          var copyText = document.getElementById("shortLink");
          copyText.select();
          copyText.setSelectionRange(0, 32)
          document.execCommand("copy");
          alert("Copied link: " + copyText.value);
        }
    </script>
</html>