<head>
    <meta charset="utf-8">
    <meta name="description" content="slog.link - link shortener">
    <meta name="author" content="slogworx.com">
    <link rel="shortcut icon" href="/static/slogworx16.png">
    <title>slog.link</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/sloglink.css">
  </head>
  <body>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <img class="logo" alt="slogworx logo" src="/static/slogworx_logo.png">
            </div>
        </div>
        <h1>slog.link</h1>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form action='https://slog.link/add_link', method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="new_link" method="POST" placeholder="paste a long link here">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <div class="link_header">Shortened Link</div>
                <div class="shortened_link">
                    {% block content %}
                    <h2><a href="{{ short_link }}">{{ short_link }}</a></h2>
                    <div class="to">TO</div>
                    <a href="{{ long_link }}">{{ long_link }}</a>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>