<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="slog.link - admin">
    <meta name="author" content="slogworx.com">
    <link rel="shortcut icon" href="/static/slogworx16.png">
    <title>slog.link - admin</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/sloglink.css">
  </head>
  <body>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="admin_logo"><img class="logo" alt="slogworx logo" src="/static/slogworx_logo.png"></div>
            </div>
        </div>
        <h1>slog.link - admin</h1>
        <div class="row text-center">
            <div class="col-md-12">


            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-4">
                <h2>{{ slog_links|length }} Short Links</h2>
                <div class="checkbox">
                    <div class="shortlinks_list">
                    <form action="/housekeeping" method="POST">
                    {% for link in slog_links %}
                        <label><input type="checkbox" name="delete_list" value="{{ link[0] }}">
                        <a class="hi_link" href="{{ link[1] }}" target='_blank'>https://slog.link/{{ link[0] }}</a> (last used: {{ link[2] }})
                        </label><br>
                    {% endfor %}
                    <p class="admin_button"><button type="submit" class="btn btn-danger">Delete</button></p>
                    </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <h2>Create Custom Vanity Link</h2>
                <div class="vanity_panel">
                    <div class="valid_message">Valid link keys have no spaces and can include A-Z, a-z, 0-9, '-' and '_'.</div>
                    <span class="vanity_link">
                        <form action="/housekeeping" method="POST">
                            <label>Add link</label>
                            <input placeholder="Enter a valid link to shorten" name="long_link"> to 
                            <label>https://slog.link/</label>
                            <input placeholder="Enter a valid link key" name="vanity_link">
                            <p class="admin_button"><button type="submit" class="btn btn-danger">Submit</button></p>
                          </form>
                    </span>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <div class="footer"></div>
            </div>
        </div>

    </div>
</body>
    <script>

    </script>
</html>